@font-face {
    font-family: 'Ruigslay';
    src: url('fonts/Ruigslay.ttf') format('truetype'); /* Adjust the path to your .ttf file */
    font-weight: normal; /* Optional: Define font weight if needed */
    font-style: normal; /* Optional: Define font style if needed */
}

html,body{
    margin:0;
    padding: 0;
    width: 100%;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text{
    display:block;
    font-family:'Ruigslay';
    font-size:9.5vw;
    color:#fcf8da;
    animation: flicker-glow 2s ease-out infinite alternate;
    text-align: center;
}

.banner-sparkline{
    position: relative;
    bottom: 7px;
}

.banner-subtext{
    position: relative;
    color:white;
    font-size: 1.5vw;
    animation: flicker-glow 2s ease-out infinite alternate;
    text-align: center;
}


.exp-con{
    width:90%;
    background-color: rgba(255, 255, 255, 0.2);
    padding:20px 30px;
    color:#d6d6d6;
    font-size: 1.2rem;
}


.home-houses-con{
    height: 500px;
    display: flex;
    justify-content: center;
    gap:5rem;
    text-align: center;
}

.home-house-con{
    transition: transform 0.3s ease-in-out;
    filter:drop-shadow(0px 0px 2px #000000);
}

.home-house-con:hover{
    transform: scale(1.02);
    filter:drop-shadow(0px 2px 5px #242424);
}


.home-houses-con img{
    width: 25rem;
}


.home-road-con{
    position:absolute;
    width: 100%;
    z-index: -999;
}

.home-road-con img{
    position: relative;
    width: 100%;
    height:150px;
    top:-270px;
    max-width: 100%;
}


.a-nohighlight{
    color:#000000;
}



.sub-house-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    filter:drop-shadow(0px 0px 2px #000000);
}

.sub-house-con img{
    height:450px;
}


.sub-sliders-con{

}


.sub-house-title{
    text-align: center;
    font-size:50px;
    filter:drop-shadow(0px 0px 2px #000000);
}


.sub-button-back{
    color: #fff;
    position:absolute;
    top:40px;
    left:40px;
    font-size: 2rem;
    transition: transform 0.3s ease-out, left 0.3s ease-out;
    transform: scale(1);

    display:flex;
    align-items: center;
    gap:0.5rem;


    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    -webkit-touch-callout: none;
}

.sub-button-back span{
    font-size:1rem;
    line-height: 1;
}

.sub-button-back:hover{
    transform: scale(1.1);
    left:30px;
}


.nav{
    position:absolute;
    top:10px;
    right:0px;
    float:right;

    display:flex;
    align-items: center;
    gap:0.5rem;

    height:3rem;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    -webkit-touch-callout: none;
    
}

.nav a{
    color: #fff;
    font-size: 1.2rem;
    width: 5rem;

    transition: transform 0.2s ease-out, text-decoration 0.2s ease-out;
    transform: scale(1);
    text-decoration: none;
    display: inline-block;
}

.nav a:hover{
    transform: scale(1.05);
    text-decoration: underline;
}


@keyframes flicker-glow{
    0%{
        text-shadow: 0 0 0.1px #fff, 0 0 10px #a895e8, 0 0 10px #a895e8, 0 0 30px #a895e8, 0 0 40px #a895e8, 0 0 50px #a895e8, 0 0 60px #a895e8;
    }
    33%{
        text-shadow: 0 0 0.1px #fff, 0 0 10px #a895e8, 0 0 10px #a895e8, 0 0 30px #a895e8, 0 0 40px #a895e8, 0 0 50px #a895e8, 0 0 60px #a895e8;
    }
    66%{
        text-shadow: 0 0 0.1px #fff, 0 0 10px #eded6b, 0 0 10px #eded6b, 0 0 30px #eded6b, 0 0 40px #eded6b, 0 0 50px #eded6b, 0 0 60px #eded6b;
    }
    100%{
        text-shadow: 0 0 0.1px #fff, 0 0 10px #eded6b, 0 0 10px #eded6b, 0 0 30px #eded6b, 0 0 40px #eded6b, 0 0 50px #eded6b, 0 0 60px #eded6b;
    }
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --primary: #ec994b;
  --white: #ffffff;
  --bg: #f5f5f5;
}

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/*
@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}
*/

::-webkit-scrollbar {

}

::-webkit-scrollbar-thumb {
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container {
  max-width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
}

#tranding {
  padding: 4rem 0;
}

@media (max-width:1440px) {
  #tranding {
    padding: 7rem 0;
  }
}

#tranding .tranding-slider {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
}

.tranding-slide {
  width: 60rem;
  height: 32rem;
  position: relative;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 28rem !important;
    height: 36rem !important;
  }
}

.tranding-slide .tranding-slide-img img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

.tranding-slide .tranding-slide-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tranding-slide-content .food-price {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: var(--white);
}

.tranding-slide-content{
    border-radius: 2rem;
    filter: drop-shadow(0px 0px 2px #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5rem;
}

.tech-content{
    background-color: #ec994b;
}
.perf-content{
    background-color: #a97373;
}

.content-img-con{
    height:100%;
}

.content-img-con img{
    height:100%;
}

.content-desc{
    width:67%;
    height: 100%;
    padding-left: 2rem;
    font-size: 1.1rem;

}

.content-desc-header{
    font-size:2.5rem;
}


.food-rating {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.rating ion-icon {
  color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 84% !important;
  top: 400% !important;
  transform: translate(-84%,-400%) !important;
}

.tranding-slider-control .swiper-button-prev {
  left: 16% !important;
  top: 400% !important;
  transform: translate(-16%,-400%) !important;
}



.tranding-slider-control .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}